.durum_1 {
    background-color: lightseagreen;
}

.durum_2 {
    background-color: darkgreen;
    color: white;
}

.durum_3 {
    background-color: limegreen;
}

.durum_4 {
    background-color: darkred;
    color: white;
}

.durum_5 {
    background-color: darkorange;
}
