
@{
    Layout = null;
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/css/login.css" rel="stylesheet" />


@using (Html.BeginForm("Login", "Kullanici", FormMethod.Post))
{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <div class="container">
        <div class="card card-login mx-auto text-center bg-dark">
            <div class="card-header mx-auto bg-dark">
                <span>Kullanıcı Girişi </span><br />
            </div>
            <div class="card-body">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" name="Eposta" class="form-control" placeholder="Eposta" required>
                </div>

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" name="Sifre" class="form-control" placeholder="Şifre" required>
                </div>

                <div class="form-group">
                    <input type="submit" name="btn" value="Giriş Yap" class="btn btn-outline-danger float-right login_btn">
                </div>
            </div>
        </div>
    </div>
}