@using ArizaTakipMVC.Models
@model  tbl_Departman

@{
    ViewBag.Title = "DepartmanGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <h2><i class="fas fa-pencil-alt"></i> Departman Güncelle</h2>
    <table class="table table-hover table-bordered">
        @Html.HiddenFor(model => model.id_Departman)

        <tr>
            <td><label for="inputDepartmanAd">Departman Adı</label></td>
            <td>@Html.TextBoxFor(model => model.DepartmanAd, new { @class = "form-control", required = "required", placeholder = "Departman adı giriniz" }) </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Departman Listesine Geri dön", "DepartmanListesi")
            </td>
            <td>
                <input type="submit" class="btn btn-success" value="Departman Adını Güncelle" />
            </td>
        </tr>
    </table>
}



